.data__wrap {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	row-gap: 1.25rem;
	column-gap: 1.25rem;
	max-width: 930px;
	justify-content: center;
}

.data__card {
	display: flex;
	justify-content: start;
	flex-direction: column;
	max-width: 145px;
	height: 325px;

	&:hover {
		transform: scale(1.1);
	}

	img {
		width: 145px;
		border-radius: 1rem;
		box-shadow: 0px 0px 1px 1px #dac7a2;

		&:hover {
			box-shadow: 0px 0px 15px 5px #e5a00d;

		}
	}

	p {
		background-color: transparent;
		margin: 0.25rem 0.5rem;

		span {
			background-color: transparent;
			display: block;

		}
	}
}
// genre img
.genre__img {
	width: 145px;
	height: 66%;
	border-radius: 1rem;
	box-shadow: 0px 0px 1px 1px #dac7a2;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		box-shadow: 0px 0px 3px 10px #e5a00d;

	}
}

// single movie
.single__movie__header {
	width: 100%;
	height: 300px;
	background-size: cover; /* Adjust to your preference, e.g., 'contain' */
	background-repeat: no-repeat;
}

@media only screen and (min-width: 640px) {
	* {
		//outline: 1px solid #d51515;
	}
	.data__wrap {
		row-gap: 1.75rem;
		column-gap: 1.75rem;
	}
	.data__card {
		max-width: 155px;

		img {
			width: 155px;
		}
	}
}



@media only screen and (min-width: 992px) {
	* {
		//outline: 1px solid #08ecd9;
	}
	.data__wrap {
		row-gap: 3rem;
		column-gap: 2rem;
		max-width: 1130px;
	}
	.data__card {
		max-width: 200px;
		height: 380px;

		img {
			width: 200px;
			object-fit: contain;
		}
	}
}

@media only screen and (min-width: 1200px) {
	* {
		//outline: 1px solid #1637de;
	}

}