.single__movie__wrap {
	h3 {
		padding-left: 1rem
	}

	min-height: 100dvh;
}

.single__movie__header {
	width: 100%;
	max-width: 1230px;
	margin: 70px auto 0 auto;
	height: 200px;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
	mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.single__movie__data {
	display: flex;

	div {
		width: 50%;
		max-width: 300px;
		margin: 0 auto;

		p {
			font-size: 0.9rem;
			margin-top: 1rem;
			border-bottom: $highlight__clr 1px solid;
			padding: 0 0.5rem;

			span {
				display: block;
			}
		}
	}
}

.vote__wrap {
	outline: 1px solid $highlight__clr;
	width: 100%;
	padding: 0.1rem;
	margin-bottom: 0.25rem;
	border-radius: 0.2rem;
	color: $font__color;
	text-align: center;

}

.vote__average {
	background-color: $highlight__clr;
	text-align: center;
	color: $body__bg;
	border-radius: 0.2rem;
}

.single__movie__cover {
	position: relative;
	top: -50px;
	left: 15%;
	border-radius: 1rem;
	box-shadow: 0 0 1px 2px $img__border__shadow;
	max-width: 145px;
}

.single__movie__title {
	padding: 0.25rem 0.5rem;
	top: -20px;

	span {
		display: block;
		font-size: 0.95rem;
		margin-top: 0.5rem;
	}
}

.single__movie__overview {
	margin: 0 1rem 3rem 1rem;
}

@media only screen and (min-width: 640px) {
	.single__movie__header {
		height: 250px;
	}
	.single__movie__cover {
		left: 20%;
		max-width: 165px;
	}
	.single__movie__data {
		div {
			p {

				.director__span {
					&:first-child {
						display: inline;
					}

					&:nth-child(2), &:nth-child(3), &:nth-child(4) {

						display: block;
						margin-left: 4.5rem;
					}
				}
			}
		}
	}
	.single__movie__info {
		max-width: 600px;
		margin: 0 auto;
	}
}

@media only screen and (min-width: 992px) {
	.single__movie__wrap {
		max-width: 1230px;
		margin: 0 auto;
	}
	.single__movie__header {
		height: 300px;
	}
	.single__movie__cover {
		max-width: 200px;
		top: -75px;
	}
	.single__movie__info {
		max-width: 600px;
		margin: 0 auto;
	}
}