$body__bg: #191919;
$font__color: #f2f2f2;

$background__clr: #212529;

$highlight__clr: #e5a00d;

$img__border__shadow: #dac7a2;

$bg__fade__start: #27292c;
$bg__fade__end: #282a2d;

$TMDB__2nd: #01b4e4;