@import 'bootstrap/scss/bootstrap';
@import './movie';
* {
	//outline: 1px solid yellow;
	background-color: #212529;
	color: #f7f8fa;
	transition: all 0.3s ease-in-out;
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

#fetching__wrap {
	position: absolute;
	top: 1rem;
	right: 5.75rem;
}

nav {
	max-width: 1230px;
	margin: 0 auto;
	border: 1px solid #e5a00d;
}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
	color: #e5a00d ;
}


.h2__wrap {
	max-width: 1130px;
	display: block;
	margin: 6rem auto 3rem auto;
	padding-left: 2rem;

}

