@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import 'bootstrap/scss/bootstrap';
@import 'utilities';
@import 'data';

* {
  //outline: 1px solid #e5a00d;
  color: $font__color;
  transition: all 0.3s ease-in-out;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat', sans-serif;
}

.skeleton__wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
  max-width: 1230px;

  span {
    width: 125px;
    height: 187px;
    border-radius: 1rem;
    margin: 1rem;
  }
}

.single__movie__placeholder__wrap {
  max-width: 1230px;
  margin: 100px auto 0 auto;
  display: flex;
  justify-content: space-around;

  .image {
    width: 125px;
    height: 187px;
    border-radius: 1rem;
    margin: 1rem;
  }

}

.single__movie__placeholder__data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  .text {
    width: 150px;
    height: 1rem;
  }
}

.single__movie__placeholder__info {
  width: 90%;
  max-width: 930px;
  margin: 2rem auto 0 auto;

  .heading {
    width: 150px;
    height: 1.5rem;
    display: block;
    margin-bottom: 0.75rem;
  }

  .text {
    display: block;
    width: 100%;
    height: 1rem;
    margin-bottom: 0.5rem;
  }
}

.person__placeholder__loading__wrap {
  max-width: 930;
  margin: 100px auto 3rem auto;
  width: 95%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .image {
    border-radius: 1rem;
    width: 95%;
    max-width: 500px;
    height: 300px;

  }
  .name {
    width: 300px;
    height: 2rem;
    margin: 1rem;
  }

  .info {
    width: 200px;
    height: 100px;
    margin: 1rem;
  }

  .heading {
    width: 300px;
    height: 1.5rem;
    margin: 1rem;
  }

  .text {
    width: 100%;
    max-width: 650px;
    height: 1rem;
    margin-bottom: 0.5rem;
  }

}

body {
  background-color: $body__bg;

}

a {
  text-decoration: none;
}

#isFetching__spinner {
  position: fixed;
  top: 7rem;
  right: 2rem;
  z-index: 1031;
}

#offcanvasNavbar-expand-true {
  background-color: $background__clr;
}

.btn-close {
  background-color: $highlight__clr;
}

nav {
  max-width: 1230px;
  margin: 0.5rem;
  border: 1px solid $highlight__clr;
  border-radius: 0.5rem;
  background-color: #212529;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color: $highlight__clr;
}

.pagination__wrap {
  max-width: 1130px;
  margin: 2rem auto;
}

.h2__wrap {
  max-width: 1130px;
  display: block;
  margin: 6rem auto 2rem auto;
  padding-left: 2rem;
}

.form__wrap {
  width: 90%;
  margin: 1rem auto 1rem auto;
}

footer {
  background-image: linear-gradient($bg__fade__start, $bg__fade__end);
  padding: 2rem 0.5rem;
  width: 100%;
  max-width: 1230px;
  margin: 4rem auto 0 auto;
  border-radius: 1rem 1rem 0 0;
  border: 1px solid $highlight__clr;
  border-bottom: 0;
}

.home {
  min-height: 65vh;
}

.footer__menu {
  h3 {
    width: fit-content;
    margin: 0 auto 1rem auto;
  }

  ul {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 0;

    li {
      margin: 0 0.5rem 0 0.5rem;

      a {

        color: $font__color;

        &:hover {
          color: $highlight__clr;
        }
      }
    }
  }

}

.footer__info {
  p {
    width: fit-content;
    margin: 1rem auto;

    a {
      color: $font__color;

      span {
        color: $TMDB__2nd;
      }
    }

    img {
      width: 200px;
    }
  }
}

.JN__logo {
  text-align: center;

  a {
    color: $font__color;

    img {
      margin: 0.5rem auto;
      display: block;
      filter: invert(74%) sepia(42%) saturate(2022%) hue-rotate(352deg) brightness(190%) contrast(75%);
    }

  }
}

#JN__link {
  color: $font__color;

  &:hover {
    color: $highlight__clr;
  }
}

@media only screen and (min-width: 640px) {
  * {
    //outline: 1px solid red;
  }
  .single__movie__placeholder__wrap {
    margin: 150px auto 0 auto;
    justify-content: center;

    .image {
      width: 165px;
      height: 247px;
    }

  }
  .single__movie__placeholder__data {
    margin-left: 6rem;


    .text {
      width: 250px;
      height: 1rem;
    }
  }

  .single__movie__placeholder__info {


    .heading {
      width: 200px;

    }

  }
  .skeleton__wrap {
    span {
      width: 155px;
      height: 232px;
    }
  }
  .h2__wrap {
    margin: 7rem auto 2rem auto;
  }
  .form__wrap {
    width: 60%;
    margin: 5rem auto;
  }
}

@media only screen and (min-width: 992px) {
  * {
    //outline: 1px solid blue;
  }
  .skeleton__wrap {
    span {
      width: 200px;
      height: 300px;
    }
  }

  .form__wrap {
    width: 50%;
    max-width: 850px;
  }
  nav {
    margin: 0.5rem auto;
  }
}